*{
    margin: 0px;
    padding: 0px;

}
body{
    font-family: 'Poppins', sans-serif;
}
.header-bg-image{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/images/main-bg-pic.jpg);
    background-size: cover;
    height: 650px;
}